{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="jumbotron">

    <div class="container">
        <div vocab="http://schema.org/" typeof="AddAction">
            <span rel="object" class="invisible">
                <div typeof="PerformingGroup">
                    <a property="alumni" value="{{user.username}}"></a>
                    <a property="knowsAbout" value="{{user.github_link}}"></a>
                    <a property="email" value="{{user.email}}"></a>
                </div>
            </span>
            <h1>{{ competition.title }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button name="sign_up_team" class="btn btn-warning" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}